*{
    margin: 0%;
    padding: 0%;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(222, 219, 219);
}

#main{
    width: 100%;
    height: 100%;}

#header{
    height: 7%;
    width: 100%;
    background-color: black;
    position: fixed;
    opacity: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}    
#fakeheader{
    height: 7%;
    width: 100%;
    background-color: black;
}    
#page1{
    height: 93%;
    width: 100%;
}
#page2{
    height: 93%;
    width: 100%;
}
#page3{
    height: 93%;
    width: 100%;
}
#page4{
    height: 93%;
    width: 100%;
    display: flex;
}
#page5{
    height: 93%;
    width: 100%;
    display: flex;
}
#pag6{
    height: 93%;
    width: 100%;
    display: flex;
}

.texts{
color:rgba(186, 185, 185, 0.8);
margin-right: 40px;
font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#navbar{
    background-color: rgb(29, 29, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#fax{
    height:  93%;
    width: 100%;
}
#photo{
    object-fit: cover;
    overflow: scroll;
    height: 92%;
    width: 100%;
}
#pics{
    object-fit: cover;
    overflow: scroll;
    height: 92%;
    width: 100%;
    margin-top: 5px;
}
.go{
    width: 50%;
}
.pix{
    margin-top: 2px;
    margin-right: 2px;

}
.poo{
    width: 50%;
}
.pou{
    width: 50%;
}

#pge7{
    height: 93%;
    width: 100%;

}
#page8{
    height: 93%;
    width: 100%;
    display: flex;
    justify-content: center;

}
.text{
    color: rgb(139, 139, 137);
}
